<header>
<mat-toolbar class="desktop-only" >
  <img src="/assets/logo_p6.png" alt="Logo" height="80px">


    <ng-container *ngIf="isLoggedIn$ | async" >
      <button mat-button routerLink="/articles">Articles</button>
      <button mat-button routerLink="/themes">Topics</button>
      <button mat-button routerLink="/account">Mon compte</button>
      <button  (click)="logout()">Déconnexion</button>
    </ng-container>


  

  </mat-toolbar>


  <mat-toolbar class="mobile-only" >
    <img src="/assets/logo_p6.png" alt="Logo" height="80px">
  
  
   
  
  
      <button mat-icon-button  (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
  
      <mat-drawer-container class=" drawer-container" autosize>
        <mat-drawer #drawer mode="side" position="end">
          <ng-container *ngIf="isLoggedIn$ | async">
            <button mat-button routerLink="/articles" (click)="drawer.close()">Articles</button>
            <button mat-button routerLink="/themes" (click)="drawer.close()">Topics</button>
            <button mat-button routerLink="/account" (click)="drawer.close()">Mon compte</button>
            <button mat-button (click)="logout(); drawer.close()">Déconnexion</button>
          </ng-container>
        </mat-drawer>
      </mat-drawer-container>
  
    </mat-toolbar>
</header>