<header class="main-header">
  <mat-toolbar class="toolbar">
    <img src="/assets/logo_p6.png" alt="Logo" height="40px" />

    <div class="spacer"></div>

    <ng-container *ngIf="isLoggedIn$ | async">
      <nav class="desktop-only">
        <button class="nav-logout" (click)="logout()">Déconnexion</button>
        <a  routerLink="/articles" routerLinkActive="active">Articles</a>
        <a  routerLink="/themes" routerLinkActive="active">Topics</a>
        <a  routerLink="/account" class="avatar"><img src="/assets/user.png" alt="Profil" /></a> 
  
      </nav>
    </ng-container>

    <button mat-icon-button class="mobile-only" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
    <div class="drawer-overlay" *ngIf="menuOpen" (click)="toggleMenu()"></div>
  <div class="mobile-drawer" [class.open]="menuOpen">

    <button mat-icon-button class="close-btn" (click)="toggleMenu()">
      <mat-icon>close</mat-icon>
    </button>
    <nav>
      <a  class="nav-logout" (click)="logout()">Déconnexion</a>
      <a  routerLink="/articles">Articles</a>
      <a  routerLink="/themes">Topics</a>
      <a  routerLink="/account" class="avatar"> <img src="/assets/user.png" alt="Profil"  /></a>
   
    </nav>
  </div>
</header>
