.mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 4px !important;
  border-color: #2196f3 !important; /* bleu */
  background: #fff !important;
}

.mat-form-field {
  background: #fff;
  border-radius: 4px;
}
